<h1>Administration</h1>
<ul class="nav nav-tabs">
    <li class="active"><a href="#">Refill Ingredients</a></li>
    <li><a href="#">Manage Employees</a></li>
    <li><a href="#">Generate Reports</a></li>
</ul>

<form>
    <div class="form-group">
        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-primary">Refill</button>
</form>
