<script src="/js/customer.js" type="text/javascript"></script>
<div class = "container">
    <div class ="row">
        <div class ="col-md-12">
            <div >
                <h3>Alcoholic</h3>
                {{#each alcoholic}}
                    {{this.name}}</br>
                {{/each}}
                <h3>NonAlcoholic</h3>
                {{#each nonalcoholic}}
                    {{this.name}}<br>
                {{/each}}
                <h3>Garnish</h3>
                {{#each garnish}}
                    {{this.name}}</br>
                {{/each}}
            </div>
            <img src="/images/abc.jpg">An image that I should see</img>

        </div>

    </div>
</div>