<div>
    <form id="ourform" class="login-form">
        <label for="name"> Name </label>
        <!-- Check to make sure phone number has a minimum of 10 digits
        - SQL check in phone_no customer field-->
        <input type="text" class="form-control" id="name" placeholder=
                "Name" required/>

        <label for="password"> Password </label>
        <!-- Check to make sure phone number has a minimum of 10 digits
        - SQL check in phone_no customer field-->
        <input type="password" class="form-control" id="password" placeholder=
                "phonenumber" required/>
        <select name = "user-type" >
            <option value="customer">Customer</option>
            <option value="employee">Employee</option>
            <option value="admin">Admin</option>

        </select>
        <button form ="ourform" type="click" id="buttonToSubmit" class="btn btn-primary submit-user-info">Submit</button>

    </form>

    <a class="click-create-account" href="#">Don't have an account? Click here.</a>

    <div class ="create-account">

            <label for="name"> Enter Name </label>
            <!-- Check to make sure phone number has a minimum of 10 digits
            - SQL check in phone_no customer field-->
            <input type="text" class="form-control" id="name" placeholder=
                    "phonenumber" minlength=10 required/>

            <label for="phone-num"> Enter Phone Number </label>
            <!-- Check to make sure phone number has a minimum of 10 digits
            - SQL check in phone_no customer field-->
            <input type="number" class="form-control" id="password" placeholder=
                    "phone-num" minlength=10 required/>    </form>
        </div>
</div>