.body-wrapper {
    margin: 50px 0 20px 0
}

.otd-header {
    display: flex;
    height: 75px;
    background-color: orange;
}

.otd-logo {
    height: 90%;
    width: 100%;
}

.otd-header > h1{
    margin-left: 5px;
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}

.btn, .alert {
    border: none;
    border-radius: 3px;
    background-image: none !important;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.dropdown-toggle, .drink-selector-dropdown {
    border: 1px solid #eee;
}

.alert {
    margin-top: 5px;
}

/*Bartender Page*/
.complete-order-checkbox-cell, .center-align-cell {
    text-align: center;
}
/**/

/*Admin Page*/
.employee-header {
    display: flex;
    align-items: center;
}

.employee-header > h1 {
    margin-right: auto;
}

.ingredients-value-td {
    text-align: center;
}

#ingredientCondText {
    vertical-align: middle;
}
/**/

#btn-logout {
    margin-top: 10px;
}

.top5-container{
    text-align:center;
    margin-bottom: 50px;
    font-size: 36px;
    padding-bottom: 50px;
}
.top5-container > span{
    font-size: 48px;
    display: block;
    margin-bottom: 25px;
}

.top5-list{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;

}
.form-group {
    font-size: 24px;
}
.form-group > input {
    font-size: 18px;
}
.our-order-btn {
    font-size: 18px;
}
.drink-selector-dropdown {
    margin-bottom: 20px;
    font-size: 18px;
}
.drinks-currently-being-ordered {
    margin-top: 0px;
}
.stretched {
    display: block;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
    font-size: 18px;
    text-decoration: none;
}