.thumbnail {
    display: inline-block;
}

.thumbnail img {
    height: 15%;
    width: 15%
}

.equalize-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

