.thumbnail > img {
    display: inline-block;
    float: left
}
.add-item > .fa {
    position: absolute;
    right: 25px;
    top: 10px;
    color: black;
}
.button-wraper {
    position: absolute;
    bottom: 25px;
    right: 25px;
}
.caption {
    display: inline-block;
}
.drink-type{
    color: black;
    opacity: 0.8;
    padding-left: 10px;
    font-size: 14px;
    position: absolute;
    top: 0;
}
.modal-button{
    text-decoration: none !important;
}
.custom-drink-info{
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
    color: black;
}
.custom-drink-info > h3 {
    font-size: 18px;
}
.thumbnail img {
    width: 35%;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 0;
}

.equalize-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

